
/* add display:inline to floated elements */
.mutfak-logo,
.logo_div,
.logo_sag_icons,
.sol,
.sag,
#nav-bar .menu .hotlinks,
.login-box input[type='button'],
.footer-menu li {display:inline;}

/* convert min height values */
.wrapper {height:100%;}


/* fix negative margins */
.mutfak-logo,
.login-box,
.footer,
#tube-icon a div {position:relative; zoom:1;}

/* add zoom:1; display:inline; to inline-block elements */
#nav-bar .menu ul,
#nav-bar .menu ul li {zoom:1; display:inline;}

/* add overflow:visible to (submit) buttons */
 input, button {overflow:visible;}