body {
    font-family: 'Ubuntu', Verdana, Calibri, sans-serif;
    font-size: 12px;
    letter-spacing: normal;
    line-height: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    min-width: 960px;
    background: #F6F6F6;
    height: 100%;
}

.clear { clear: both; }

.wrapper {
    height: auto; min-height: 100%;
}
.content {
    padding: 3em;
    padding-bottom: 9em;
}
a, span.back {
    text-decoration: none;
    color: #1c94c4;
    cursor: pointer;
}
a:hover, span.back:hover {
    color: #eb8f00;
}
/* www.mku.edu.tr style header begin */
.header_bg
{
    background:  url('../images/header_bg.png') repeat top center;
    height: 145px;
}

.icerik_div
{
    width : 940px;
    margin : 0 auto;
}
.mutfak-logo {
    margin-right: -25px;
    margin-top: 25px;
    float: right;
}
.logo_div
{
    margin-top: 25px;
    float : left;
}

.logo_sag_icons
{
    width : 234px;
    height :  73px;
    float :  right;
}

.sol
{
    float : left;
}

.sag
{
    float : right;
    padding-left: 1px;
}

/* www.mku.edu.tr style header end */

/* Navbar & menu begin */
#nav-bar {
    background-color: #991E16;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 0px solid #933933;
    margin-top: 0px
}

#nav-bar .menu {    
    margin: 0 auto;
    width: 960px;
}
#nav-bar .menu ul {
    display:inline-block;
}
#nav-bar .menu ul li {
   display: inline-block;
   padding: 5px;
}
#nav-bar .menu ul li a {
    color: #F6F6F6;
    text-decoration: none;
}

#nav-bar .menu ul li.current a {
    color: #CCCC66;
    text-decoration: underline;
}

#nav-bar .menu ul li a:hover {
    color: #F6F6F6;
    text-decoration: underline;
    cursor: pointer;    
}

#nav-bar .menu .hotlinks {
    float: right;
    margin-right: 100px;
}
#nav-bar .menu .hotlinks ul li {

}
#nav-bar .menu .hotlinks ul li a {
    color: #F6F6F6;
    text-decoration: none;
}

#nav-bar .menu .hotlinks ul li.current a {
    color: #CCCC66;
    text-decoration: underline;
}

#nav-bar .menu .hotlinks ul li a:hover {
    color: #F6F6F6;
    text-decoration: underline;
    cursor: pointer;    
}

.login-box {
    position: fixed;
    display: none;
    padding: 1em;
    background: #F2C695;
    border: 2px solid #991E16;
    margin-top: 3px;
    margin-left: -120px; 
    border-radius: 3px 3px 10px 10px;
}
.login-box input[type="text"], .login-box input[type="password"] {
    padding: .5em;
    margin: .4em;
    border: 1px solid #99B3FF;
    border-radius: 5px;
    display: block;
    font-family: Courier;
    font-size: medium;
    color: #3F3F3F;
}
.login-box input[type="button"] {
    padding: .5em;
    margin: .4em;
    border: 1px solid #99B3FF;
    border-bottom : 2px solid #99B3FF;
    border-right : 2px solid #99B3FF;
    background: #FFFDCE;
    border-radius: 5px;
    float: right;
    
}
.login-box input[type="button"]:hover {
    cursor: pointer;
    background: #FCFEE6;
}
.login-box input[type="checkbox"], .login-box label {
    padding: .5em;
    margin-top: .9em;
    margin-left: .6em;
}
.login-box label {
   margin-left: .1em;
}
#login-message {
    margin-top: 25px;
    color: #3F3F3F;
    text-align: center;
    font-style: oblique;
}
/* Navbar & menu end */

/* Error & 404 begin */
.broken-glass-container {
    padding: 20px;
    width: 330px;
    margin: 0 auto;
}
#broken-glass {
    width: 330px;
    height: 330px;
}

.missing-404-container {
    padding: 20px;
    width: 440px;
    margin: 0 auto;    
}
#missing-404 {
    height: 80px;
    width: 400px;
}
.error {
    padding: 20px;
    min-width: 960px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.error h1 {
    font-size: 24pt;
    font-weight: bolder;
    color: #991E16;
    padding-bottom: 15px;
}
.error h2 {
    font-size: 16pt;
    font-weight: bolder;
    color: #933933;
    padding-bottom: 10px;
    
}
.error h3 {
    font-size: 10pt;
    font-weight: bolder;
    color: #3F3F3F;
    padding-bottom: 5px;
}
/* Error & 404 end */

/* Footer begin */
.footer {
 background: #991E16;
 clear: both;
 position: relative;
 z-index: 10;
 height: 6em;
 margin-top: -6em;
}
.footer-content {
    margin: 0 auto;
    padding: 2em;
    text-align:center;
}
.footer-menu li
{
	display : block;
	float: left;
	padding : 5px 10px;
	border-right : 1px solid #454545;
}

.footer-menu li a
{
        color: #C6C6C6;
        text-decoration: none;
	cursor: pointer;
}
.footer-menu li a:hover
{
        color: #F6F6F6;
        text-decoration: none;
	cursor: pointer;
}
#tube-icon {    
    width: 48px;
    height: -48px;
    margin: 0 auto;
}
#tube-icon a div {
    background:  url('../images/tube.png');
    background-size: 48px 48px;
    width: 48px;
    height: 48px;
    margin-bottom: -48px;
    margin-top: -12px;
}
#tube-icon a div:hover {
    background:  url('../images/tube-hover.png');
    background-size: 48px 48px;

}
#benchmark {
    position: absolute;
    color: #F6F6F6;
    margin: 5px 5px;
}
/* Footer end */
